.cabecalho-fundo {
    background-image: url('../../Assets/imagem/fundo_parede.jpeg');

}

/*------- Seçao Index ----------*/

.container-cabecalho {
    background-image: url('../../Assets/imagem/fundo_parede.jpeg');
    padding: 20px;
    text-align: center;
}

.cabecalho-img{
    border-radius: 50%;
}

span {
    color: white;
}

.container-cabecalho h1 {
    font-weight: 600;
    font-size: 2em;
    color: #EFE4AE;
}


.cabecalho-fundo h1 {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 205px;
}

.cabecalho-fundo li {
    font-style: bold;
    color: white;
    font-size: larger;
}

.cabecalho-navbar {
    opacity: 1;
}

.cabecalho-img {
    width: 13%;
    height: 13%;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 1px;
    border-radius: 50%;
}

.cabecalho-titulo {
    display: flex;
    position: relative;
    color: red;
    justify-content: center;
}

.card-body {
    background-color: rgba(99, 151, 151, 0.815);
}

.card-body .card-text {
    display: block;
    align-content: center;
    text-align: center;
    text-align-last: center;
    color: black;
}

.card-body .btn {

    margin-left: 50px;

}

/* Cadastro Alunos */

.mb-3 {
    color: white;
}

.container h1 {
    display: flex;
    position: relative;
    color: white;
    justify-content: center;
}