/* estilo da minha pagina*/

* {
    margin: o;
    padding: o;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* geral*/

.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 20px;
}

/*------*/
.container-cabecalho {
    background-image: url('../../Assets/imagem/fundo_parede.jpeg');
    padding: 20px;
    text-align: center;
}


.container-cabecalho h1 {
    font-weight: 600;
    font-size: 2em;
    color: #FCD903;
}

/*------*/

.container-navegacao {
    text-align: center;
    padding: 20px;
    background-color: #74AFC1;
}

.container-navegacao a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: #A00C00;
}

.container-navegacao a:hover {
    color: #fff;

}

/**/
.container-quem-somos {
    background-color: #034291;
    overflow: auto;
}

.container-video-apresenta {
    background-color: #034291;
    overflow: auto;
}

.apresenta {
    float: center;
    margin: 60px auto;
    background-color: #079AAC;
    /* background-color: whitesmoke; */
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}


.container-video-apresenta h1 {
    color: black;
    text-align: center;

}

.container-quem-somos .servico {
    float: center;
    margin: 60px auto;
    /* background-color: #079AAC; */
    background-color: whitesmoke;
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.container-quem-somos .servico .icones {
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.container-quem-somos .servico-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: black;
    text-align: justify;
    /* Alinha o texto pelo modo Justificado */
    line-height: 1.6;
    /* Opicional: melhora a legibilidade */

}

.container-quem-somos .servico-texto-realce {
    color: #D43F38;
    font-weight: bold;
}

.container-servico-contatos {
    background-color: #082946;
    padding: 80px;
    text-align: center;
}

.container-servico-contatos .servico-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    /* Alinha o texto pelo modo Justificado */
    line-height: 1.6;
    /* Opicional: melhora a legibilidade */

}

.servico ul a {
    color: white;
    text-decoration: none;
    align-content: center;
}

.container-servico-contatos .botoes-servicos-contatos {
    padding: 60px;
    text-align: center;
}

.botoes-servicos-contatos a {
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #008eb9;
    color: white;
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;
}

.botoes-servicos-contatos a:hover {
    background-color: white;
    color: black;
}


/*------------------------------------*/
.container-servicos {
    background-color: #05192a;
    font-size: 1.1em;
    padding: 60px;
    overflow: auto;
}

.container-servicos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-servicos h3 {
    color: #2097ff;
    padding: 20px o;
}

.container-servicos article {
    width: 40%;
    margin: auto;
    float: center;
}

.container-servicos li {
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
}

/*---------------------*/
.container-contatos {
    background-color: #05192a;
    padding: 80px;
}

.container-contatos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-contatos h3 {
    font-size: 1.5em;
    font-weight: 100;
    width: 40%;
    margin: auto;
    color: white;
    margin-bottom: 20px;
    border: 1px solid#105088;
    background-color: #08253f;
    border-radius: 10px;
    padding: 20px;
}

.container-contatos .contatos {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #00a2ff;
    margin-bottom: 20px;

}

/*--------------------*/
footer {
    text-align: center;
    padding: 80px;
    background-color: #02111f;
    color: gray;
}

/************* Seção: Mapa *******************/
#mapa {
    background-image: url('../imagem/gps_smartPhone375x250.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* margin-top: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

#mapa .content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 100px;
    width: 550px;
    height: 550px;
}

#mapa::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* Ícones das redes sociais */
.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons a {
    text-decoration: none;
    margin: 0;
    /* Remover margens para evitar problemas de layout */
    border-radius: 50%;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Corrigido para 'center' */
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    /* Efeito de espelhamento */
}

.social-icons a:hover {
    background: var(--color);
    color: #050801;
    box-shadow:
        0 0 5px var(--color),
        0 0 25px var(--color),
        0 0 50px var(--color),
        0 0 200px var(--color);
}

.social-icons .facebook {
    color: #ddd;
    /* Azul do Facebook */
}

.social-icons .instagram {
    color: #ddd;
    /* Rosa do Instagram */
}

.social-icons .youtube {
    color: #ddd;
    /* Vermelho do YouTube */
}

.social-icons .whatsapp {
    color: #ddd;
    /* Verde do WhatsApp */
}

.social-icons .email {
    color: #ddd;
    /* Verde do WhatsApp */
}

.social-icons i {
    font-size: 2rem;
}

/*   senhas  */

.container-fluid {
    background-image: url('../imagem/fundo_parede.jpeg');
    height: auto;
}

.container-fluid a {
    color: white;
    font-size: 1.6em;
}

.container-fluid .img {
    width: 90px;
    height: 80px;
    margin: 0 auto;
}

.login-text-center {
    color: black;
    text-align: center;
    width: 100%;
    
}

span.alerta {
    color: rgb(119, 5, 5);
    font-weight: bold;
}

#loginForm {
    color: black;
}

.container-login {
    background-color: #00a2ff;
    margin: 0px;
    border: solid red;
    min-height: auto;
}

.text-center a{
    color: black;
    text-decoration: none;
}

#registrationForm{
    color: black;
}